@model SnakeBattleNet.Web.Models.SnakeViewModelBase
@{
    ViewBag.Title = Model.Name;
}
@using (Html.BeginForm("UploadTexture", "Edit", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true, "Uploading image was unsuccessful. Please correct the errors and try again.", new { @class = "alert alert-error" })
    <fieldset>
        <div class="control-group">
            <div class="control-label">
                Current textures
            </div>
            <div class="controls">
                <img src='@Url.Action("GetTexture", "Manager", new { id = Model.Id })' alt=""/>
            </div>
        </div>
        @if (!User.IsInRole("Admin"))
        {
            @Html.HiddenFor(x => x.Id);
        }
        else
        {
            <div class="control-group">
                <div class="control-label">
                    Input Id
                </div>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Id)
                </div>
            </div>    
        }
        <div class="control-group">
            <div class="control-label" for="fileInput">
                Select textures
            </div>
            <div class="controls">
                <input class="input-append" type="file" id="fileInput" name="file" />
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" value="Upload" class="btn btn-primary" />
            @Html.ActionLink("Cancel", "Index", new { snakeId = Model.Id }, new { @class = "btn btn-primary" })
        </div>
    </fieldset>
}