<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="@Url.Content("~/")">SnakeBattle .Net</a>
            <ul class="nav">
                <li><a href="@Url.Action("Index","Battle")">Battles</a></li>
                @if(Request.IsAuthenticated) {
                    <li><a href="@Url.Action("Index", "Home")">Challenge</a></li>
                    <li><a href="@Url.Action("Index", "Training")">Training</a></li>
                }
                @if (Roles.IsUserInRole("Admin"))
                {
                    <li><a href="@Url.Action("ManageRoles", "Admin")">Manage Roles</a></li>
                    <li><a href="@Url.Action("ManageUsers", "Admin")">Manage Users</a></li>
                }
            </ul>
            <ul class="nav pull-right">
                @Html.Partial("_LogOnPartial")
            </ul>
        </div>
    </div>
</div>