@model IEnumerable<SnakeBattleNet.Web.Models.Snake.SnakeViewModel>

<div class="row unselectable">
    <div id="snake_container" class="col-md-10">
        @foreach (var snake in Model)
        {
            <div class="col-md-2 js-snake" data-id="@snake.Id">
                <h3 class="text-center js-name">@snake.Name</h3>
                <ul class="list-unstyled">
                    <li>Matches: @snake.Matches</li>
                    <li>Wins: @snake.Wins</li>
                    <li>Loses: @snake.Loses</li>
                    <li>Score: @snake.Score</li>
                </ul>
                <button type="button" class="btn btn-default btn-xs js-select">Select</button>
            </div>
        }
    </div>
    <div class="col-md-2">
        <button id="button-go" type="button" class="btn btn-success">Go</button>
        <div id="selected_container" class="row">
        </div>
    </div>
</div>
<script type="html/template" id="selected_view">
    <div class="col-md-12 js-selected">
        <button type="button" class="btn btn-default btn-xs js-remove">Remove</button>
    </div>
</script>
@section Scripts
{
    <script type="text/javascript">
        $(function () {
            var $buttonGo = $('#button-go');
            var $snakeContainer = $('#snake_container');
            var $selectedContainer = $('#selected_container');
            var selectedView = $('#selected_view').html();

            var validateSelected = function () {
                var $selected = $selectedContainer.find('.js-selected');
                if ($selected.length === 0) {
                    $buttonGo.prop('disabled', true);
                } else {
                    $buttonGo.prop('disabled', false);
                }
                if ($selected.length >= 4) {
                    $snakeContainer.find('button.js-select').prop('disabled', true);
                } else {
                    $snakeContainer.find('button.js-select').prop('disabled', false);
                }
                $selected.each(function () {
                    $snakeContainer.find('[data-id="' + $(this).data('id') + '"]').find('button.js-select').prop('disabled', true);
                });
            };

            validateSelected();

            $snakeContainer.on('click', 'button.js-select', function () {
                var $snake = $(this).closest('.js-snake');
                var $selectedView = $(selectedView);

                $selectedView.data('id', $snake.data('id'));
                $snake.find('.js-name').clone().prependTo($selectedView);

                $selectedContainer.append($selectedView);
                validateSelected();
            });

            $selectedContainer.on('click', 'button.js-remove', function () {
                $(this).closest('.js-selected').remove();
                validateSelected();
            });

            $buttonGo.on('click', function () {
                var ids = [];
                $selectedContainer.find('.js-selected').each(function () {
                    ids[ids.length] = $(this).data('id');
                });
                window.location.href = "/Show/Go?s=" + ids.join('&s=');
            });
        });
    </script>
}