@model SnakeBattleNet.Core.Implementation.Snake

<div class="row">
    <div class="col-md-8">
        <dl>
            <dt>Name</dt>
            <dd>@Model.Name</dd>
            <dt>Score</dt>
            <dd>@Model.Score</dd>
            <dt>Matches</dt>
            <dd>@Model.Matches</dd>
            <dt>Wins</dt>
            <dd>@Model.Wins</dd>
            <dt>Looses</dt>
            <dd>@Model.Loses</dd>
        </dl>
    </div>
</div>