@model SnakeBattleNet.Web.Models.TrainingViewModel
@{
    ViewBag.Title = "Battle starting here";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @if (Model != null)
    {
        foreach (var snake in Model.SnakeStats)
        {
        <div class="span4">
            <h4>@snake.Name</h4>
            <div class="btn btn-mini pull-right">
                <i class="icon-cog"></i>
                @Html.ActionLink("Edit", "EditSnake", new { id = snake.Id })
            </div>
            <div class="btn btn-mini pull-right">
                <i class="icon-fire"></i>
                @Html.ActionLink("Kill", "RemoveSnake", new { snakeId = snake.Id })
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Matches</th>
                        <th>Wins</th>
                        <th>Loses</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@snake.Matches</td>
                        <td>@snake.Wins</td>
                        <td>@snake.Loses</td>
                        <td>@snake.Score</td>
                    </tr>
                </tbody>
            </table>
        </div>
        }
    }
    @if (Model == null || Model.CanAdd)
    {
        <div class="span4">
            <h3>
                You could add one more warrior.</h3>
            <div class="span2 offset1">
                <div class="btn">
                    <i class="icon-heart"></i>
                    @Html.ActionLink("Add warrior", "AddSnake")
                </div>
            </div>
        </div>
    }
</div>