<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/bundles/css")
</head>
<body>
    @Html.Partial("_HeaderMenu")
    <div class="container body-content">
        @RenderBody()
    </div>
    @*@Html.Partial("_GoogleAnalytics", "UA-32101944-1")*@
    @Scripts.Render("~/bundles/jb")
    @Scripts.Render("~/bundles/ks")
    @RenderSection("Scripts", required: false)
</body>
</html>
