@model SnakeBattleNet.Web.Models.Snake.SnakeViewModel

<h3 class="text-center js-name">@Model.Name</h3>
<ul class="list-unstyled">
    <li>Matches: @Model.Matches</li>
    <li>Wins: @Model.Wins</li>
    <li>Loses: @Model.Loses</li>
    <li>Score: @Model.Score</li>
</ul>
